/* body {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: auto;
  margin: 20 auto;
  padding: 10px;
} */

.places-list {
  border: solid;
  border-width: 1px;
  border-color: #e3e6ea;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

thead tbody td th {
  table-layout: fixed;
  white-space: nowrap;
}

thead tbody {
  border-bottom: 1px;
  width: 100%;
}

tbody {
  margin-top: 10px;
}

.random-btn {
  margin-bottom: 10px;
}

.random-list {
  display: block;
}

.input-container {
  border: solid;
  border-width: 1px;
  border-color: #e3e6ea;
  padding: 20px;
  border-radius: 5px;
  width: 650px;
  height: auto;
  
  position: absolute;
  left: 50%;
  margin: 50px 0 0 -350px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "title title"
    "form form";
}

.text-container {
  grid-area: title;
  text-align: center;
}

.input-form {
  display: grid;
  grid-area: form;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "text-name text-input"
    "type-name type-input"
    "add-name add-input"
    "button button-del";
}

.rest-text {
  grid-area: text-name;
  text-align: right;
}

.rest-input input[type=text]{
  grid-area: text-input;
  width: 90%;
  margin-left: 5%;

}

.type-text {
  grid-area: type-name;
  text-align: right;
}

.type-input input[type=text]{
  grid-area: type-input;
  width: 90%;
  margin-left: 5%;
}

.add-text {
  grid-area: add-name;
  text-align: right;
}

.add-input input[type=text]{
  grid-area: add-input;
  width: 90%;
  margin-left: 5%;
}

input[type=submit] {
  grid-area: button;
  margin-left: 4rem;
}

input[type=button] {
  grid-area: button-del;
  margin-left: 4rem;
  width: 80px;
}

