@import url('https://fonts.googleapis.com/css?family=Montserrat');


$base-font-size: 22px;
$base-font-style: 'Montserrat', sans-serif;

* {
  font-family: $base-font-style;
}

body {
  font-size: $base-font-size;
  font-family: $base-font-style;
  margin: 0;
  padding: 10px;
}

.button {
  border-radius: 25px;
  border: solid;
  border-width: 1px;
  padding: 10px 15px 10px 15px;
  margin: 10px;
  text-align: center;
}

.button:hover {
  opacity: 0.5;
}

.button-del {
  background-color: #ffb3b3;
  border-color: #ffb3b3
}

.button-del:hover {
  background-color: #EA0000;
  border: none;
  color: white;
  opacity: 1;
}

.button:focus {
  outline: none;
}


// Navbar start ----------

.nav-container {
  background-color: #F2F2F2;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px;

  a {
    color: black;
  }

  a:hover {
    opacity: 0.5;
    text-decoration: none;
  }

  .logo {
    display: flex;
    margin-left: 10px;
    font-size: 1.65em;

  }

  ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
  }

}

// Navbar end ------------