@import url('https://fonts.googleapis.com/css?family=Montserrat');


$base-font-size: 22px;
$base-font-style: 'Montserrat', sans-serif;

* {
  font-family: $base-font-style;
}

body {
  font-size: $base-font-size;
  font-family: $base-font-style;
  margin: 0;
  padding: 10px;
}

.button {
  border-radius: 25px;
  border: solid;
  border-width: 1px;
  padding: 10px 15px 10px 15px;
  margin: 10px;
  text-align: center;
  
}

.button:hover {
  opacity: 0.5;
}

.button-del {
  background-color: #ffb3b3;
  border-color: #ffb3b3
}

.button-del:hover {
  background-color: #EA0000;
  border: none;
  color: white;
  opacity: 1;
}

.button:focus {
  outline: none;
}


// Forms start ----------

$form-container-width: 650px;

.input-container {

  display: flex;
  flex-direction: column;
  padding: 20px;
  
  width: $form-container-width;
  position: absolute;
  left: 50%;
  margin: 60px 0 0 -325px;
}

.form-title {
  margin-bottom: 10px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;


  div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;

    label {
      display: flex;
      width: $form-container-width * 0.3;
      justify-content: flex-end;
    }
    input[type=text] {
      margin-left: 20px;
      width: $form-container-width * 0.55;
    }
  }

  .form-button {
    display: flex;
    justify-content: center;

    .button {
      width: 150px;
    }
  }

}

// Forms end ----------


// Navbar start ----------

.nav-container {
  background-color: #F2F2F2;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px;

  a {
    color: black;
  }

  a:hover {
    opacity: 0.5;
    text-decoration: none;
  }

  .logo {
    display: flex;
    margin-left: 10px;
    font-size: 1.65em;

  }

  ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
  }

}

// Navbar end ----------